In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [19]:
url = 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States'
response = requests.get(url)

In [27]:
soup = BeautifulSoup(response.content, 'html.parser')
main_section = soup.find('div',class_="mw-content-ltr mw-parser-output")
tables = main_section.find_all('table')
states_table = tables[1]

state = []
state_code = []
population = []
area = []
wiki_link = []

for row in states_table.find_all('tr')[2:]:
    state.append(row.find('a').text.strip('\n'))
    wiki_link.append('https://en.wikipedia.org'+row.find('a').get('href'))
    table_data = row.find_all('td')
    state_code.append(table_data[0].text)
    population.append(int(table_data[4].text.strip('\n').replace(',','')))
    area.append(int(table_data[-2].text.replace(",","")))


state_df = pd.DataFrame({'state_name':state, 'State':state_code,'wiki_link':wiki_link,'population':population,'area_km2':area})

In [28]:
state_df

,state_name,State,wiki_link,population,area_km2
0,Alabama,AL,https://en.wikipedia.org/wiki/Alabama,5024279,135767
1,Alaska,AK,https://en.wikipedia.org/wiki/Alaska,733391,1723337
2,Arizona,AZ,https://en.wikipedia.org/wiki/Arizona,113990,295234
3,Arkansas,AR,https://en.wikipedia.org/wiki/Arkansas,53179,137732
4,California,CA,https://en.wikipedia.org/wiki/California,39538223,423967
5,Colorado,CO,https://en.wikipedia.org/wiki/Colorado,104094,269601
6,Connecticut,CT,https://en.wikipedia.org/wiki/Connecticut,3605944,14357
7,Delaware,DE,https://en.wikipedia.org/wiki/Delaware,989948,6446
8,Florida,FL,https://en.wikipedia.org/wiki/Florida,21538187,170312
9,Georgia,GA,https://en.wikipedia.org/wiki/Georgia_(U.S._st...,59425,153910
10,Hawaii,HI,https://en.wikipedia.org/wiki/Hawaii,10932,28313
11,Idaho,ID,https://en.wikipedia.org/wiki/Idaho,83569,216443
12,Illinois,IL,https://en.wikipedia.org/wiki/Illinois,12812508,149995
13,Indiana,IN,https://en.wikipedia.org/wiki/Indiana,36420,94326
14,Iowa,IA,https://en.wikipedia.org/wiki/Iowa,56273,145746
15,Kansas,KS,https://en.wikipedia.org/wiki/Kansas,2937880,213100
16,Kentucky,KY,https://en.wikipedia.org/wiki/Kentucky,4505836,104656
17,Louisiana,LA,https://en.wikipedia.org/wiki/Louisiana,4657757,135659
18,Maine,ME,https://en.wikipedia.org/wiki/Maine,1362359,91633
19,Maryland,MD,https://en.wikipedia.org/wiki/Maryland,6177224,32131
20,Massachusetts,MA,https://en.wikipedia.org/wiki/Massachusetts,10554,27336
21,Michigan,MI,https://en.wikipedia.org/wiki/Michigan,10077331,250487
22,Minnesota,MN,https://en.wikipedia.org/wiki/Minnesota,5706494,225163
23,Mississippi,MS,https://en.wikipedia.org/wiki/Mississippi,48432,125438
24,Missouri,MO,https://en.wikipedia.org/wiki/Missouri,6154913,180540
25,Montana,MT,https://en.wikipedia.org/wiki/Montana,1084225,380831
26,Nebraska,NE,https://en.wikipedia.org/wiki/Nebraska,1961504,200330
27,Nevada,NV,https://en.wikipedia.org/wiki/Nevada,3104614,286380
28,New Hampshire,NH,https://en.wikipedia.org/wiki/New_Hampshire,1377529,24214
29,New Jersey,NJ,https://en.wikipedia.org/wiki/New_Jersey,9288994,22591
30,New Mexico,NM,https://en.wikipedia.org/wiki/New_Mexico,2117522,314917
31,New York,NY,https://en.wikipedia.org/wiki/New_York_(state),20201249,141297
32,North Carolina,NC,https://en.wikipedia.org/wiki/North_Carolina,10439388,139391
33,North Dakota,ND,https://en.wikipedia.org/wiki/North_Dakota,779094,183108
34,Ohio,OH,https://en.wikipedia.org/wiki/Ohio,44826,116098
35,Oklahoma,OK,https://en.wikipedia.org/wiki/Oklahoma,69899,181037
36,Oregon,OR,https://en.wikipedia.org/wiki/Oregon,4237256,254799
37,Pennsylvania,PA,https://en.wikipedia.org/wiki/Pennsylvania,13002700,119280
38,Rhode Island,RI,https://en.wikipedia.org/wiki/Rhode_Island,1545,4001
39,South Carolina,SC,https://en.wikipedia.org/wiki/South_Carolina,5118425,82933
40,South Dakota,SD,https://en.wikipedia.org/wiki/South_Dakota,886667,199729
41,Tennessee,TN,https://en.wikipedia.org/wiki/Tennessee,42144,109153
42,Texas,TX,https://en.wikipedia.org/wiki/Texas,29145505,695662
43,Utah,UT,https://en.wikipedia.org/wiki/Utah,84897,219882
44,Vermont,VT,https://en.wikipedia.org/wiki/Vermont,643077,24906
45,Virginia,VA,https://en.wikipedia.org/wiki/Virginia,8631393,110787
46,Washington,WA,https://en.wikipedia.org/wiki/Washington_(state),7705281,184661
47,West Virginia,WV,https://en.wikipedia.org/wiki/West_Virginia,24230,62756
48,Wisconsin,WI,https://en.wikipedia.org/wiki/Wisconsin,5893718,169635
49,Wyoming,WY,https://en.wikipedia.org/wiki/Wyoming,97813,253335

In [29]:
state_df.to_csv('C:\\Users\\Nora BENERRAMI\\Downloads\\Projet final\\state_df.csv', index=False)

In [30]:
states_table.find_all('tr')[2]

<tr>
<th scope="row"><span class="flagicon" style="display:inline-block;width:25px;"><span class="mw-image-border" typeof="mw:File"><span><img alt="" class="mw-file-element" data-file-height="400" data-file-width="600" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/23px-Flag_of_Alabama.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/35px-Flag_of_Alabama.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/45px-Flag_of_Alabama.svg.png 2x" width="23"/></span></span></span> <a href="/wiki/Alabama" title="Alabama">Alabama</a>
</th>
<td>AL</td>
<td><a href="/wiki/Montgomery,_Alabama" title="Montgomery, Alabama">Montgomery</a></td>
<td><a href="/wiki/Huntsville,_Alabama" title="Huntsville, Alabama">Huntsville</a></td>
<td><span data-sort-value="000000001819-12-14-0000" style="white-space:nowrap">Dec 14, 1819</span></td>
<td><div style="float:right;">5,024,279</div></td>
<td data-sort-value="7011135767358042980" style="text-align:right;">52,420
</td>
<td data-sort-value="7011135767358042980" style="text-align:right;">135,767</td>
<td><div style="float:right;">7</div>
</td></tr>

In [11]:
state = 'California'
url = 'https://en.wikipedia.org/wiki/'+state
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [12]:
table_body = soup.select('table > tbody > tr:nth-child(1) > th > div:nth-child(3) > span')[0].parent.parent.parent.parent
table_rows = table_body.find_all('tr')

In [13]:
states = []
cities = []
populations = []

table_data = table_rows[2].find_all('td')
states.append(state)
cities.append(table_data[2].text)
populations.append(table_data[4].text.replace(",",""))
states.append(state)
cities.append(table_data[6].text)
populations.append(table_data[8].text.strip("\n").replace(",",""))

for row in table_rows[3:]:
    table_data = row.find_all('td')
    states.append(state)
    cities.append(table_data[1].text)
    populations.append(table_data[3].text.replace(",",""))
    states.append(state)
    cities.append(table_data[5].text)
    populations.append(table_data[7].text.strip("\n").replace(",",""))

In [14]:
pd.DataFrame({'state':states,'city':cities,'population':populations})

         state            city population
0   California     Los Angeles    3898747
1   California        Stockton     320804
2   California       San Diego    1386932
3   California       Riverside     314998
4   California        San Jose    1013240
5   California       Santa Ana     310227
6   California   San Francisco     873965
7   California          Irvine     307670
8   California          Fresno     542107
9   California     Chula Vista     275487
10  California      Sacramento     524943
11  California         Fremont     230504
12  California      Long Beach     466742
13  California   Santa Clarita     228673
14  California         Oakland     440646
15  California  San Bernardino     222101
16  California     Bakersfield     403455
17  California         Modesto     218464
18  California         Anaheim     346824
19  California   Moreno Valley     208634

In [24]:
df = pd.read_csv("C:\\Users\\Nora BENERRAMI\\Downloads\\Projet final\\US_Accidents_2016_2023.csv")
df

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.010,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.010,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.010,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.010,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.010,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,A-7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,...,False,False,False,False,False,False,Day,Day,Day,Day
7728390,A-7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,...,False,False,False,False,False,False,Day,Day,Day,Day
7728391,A-7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,0.561,...,False,False,False,False,False,False,Day,Day,Day,Day
7728392,A-7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,...,False,False,False,False,False,False,Day,Day,Day,Day
7728393,A-7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,...,False,False,False,False,False,False,Day,Day,Day,Day

In [31]:
result = pd.merge(df, state_df, on='State')
result

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,state_name,wiki_link,population,area_km2
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.010,...,False,False,Night,Night,Night,Night,Ohio,https://en.wikipedia.org/wiki/Ohio,44826,116098
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.010,...,False,False,Night,Night,Night,Day,Ohio,https://en.wikipedia.org/wiki/Ohio,44826,116098
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.010,...,True,False,Night,Night,Day,Day,Ohio,https://en.wikipedia.org/wiki/Ohio,44826,116098
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.010,...,False,False,Night,Day,Day,Day,Ohio,https://en.wikipedia.org/wiki/Ohio,44826,116098
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.010,...,True,False,Day,Day,Day,Day,Ohio,https://en.wikipedia.org/wiki/Ohio,44826,116098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7709759,A-7731454,Source1,4,2019-05-01 14:36:59,2019-05-01 15:05:59,45.521730,-100.041340,45.521730,-100.041340,0.000,...,False,False,Day,Day,Day,Day,South Dakota,https://en.wikipedia.org/wiki/South_Dakota,886667,199729
7709760,A-7740475,Source1,2,2019-06-19 13:54:55,2019-06-19 14:24:31,44.106170,-102.633400,44.106590,-102.628390,0.250,...,False,False,Day,Day,Day,Day,South Dakota,https://en.wikipedia.org/wiki/South_Dakota,886667,199729
7709761,A-7741561,Source1,4,2019-06-21 16:05:13,2019-06-21 16:34:41,45.934930,-102.159420,45.934441,-101.785744,17.956,...,False,False,Day,Day,Day,Day,South Dakota,https://en.wikipedia.org/wiki/South_Dakota,886667,199729
7709762,A-7760006,Source1,4,2019-07-17 23:37:28,2019-07-18 00:06:57,43.532403,-100.733609,43.881092,-100.705820,24.132,...,False,False,Night,Night,Night,Night,South Dakota,https://en.wikipedia.org/wiki/South_Dakota,886667,199729
7709763,A-7760012,Source1,4,2019-07-17 23:35:12,2019-07-18 00:03:45,44.327230,-97.127350,44.326960,-97.127750,0.027,...,False,False,Night,Night,Night,Night,South Dakota,https://en.wikipedia.org/wiki/South_Dakota,886667,199729